.icon {
    width: 22px;
    height: 22px;
  }
  
  .dark {
    display: none;
  }
  
  .light-mode .dark {
    display: block;
  }
  
  .light {
    display: none;
  }
  
  .dark-mode .light {
    display: block;
  }